@import url('https://fonts.cdnfonts.com/css/led-zeppelin-ii');

*{
  margin: 0;
  padding: 0;
  font-family: 'Zeppelin 2', sans-serif;
  color: white;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image:linear-gradient(0deg, black, #433e3e) ;
  height: 110px;
  padding: 10px;
}

body{
  background-color: black;
  height: 100vh;
  
}

.body-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180vh;
  border-bottom: 2px solid white;
  padding: 20px;
}

.container-album{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180vh;
  padding: 20px;
}


.banner-txt{
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.box-txt{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.txt{
  display: flex;
  flex-direction: row;
}

.invert-color{
  filter: invert(1);
}

.left-txt{
  border-left: 2px solid white;
  width: 40vh;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

}


.right-txt{
  border-left: 2px solid white;
  width: 40vh;
  padding-left: 15px;
  padding-right: 15px;
}

p{
  font-size: 15px;
  text-align: justify; 
  width: 40vh; 
}

.container-left{
  display: flex;
  flex-direction: column;
  width: 100vh;
  border-right: solid 2px white;
}

.box-album{
  display: flex;
  flex-direction: column;
  width: 100vh;
}


.container-right{
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.box-txt-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px white;
  padding: 10px;
}

.box-txt-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.box-banner-top{
  padding: 10px;
  border-bottom: solid 2px white;
}

.box-banner-bottom{
  padding: 10px;
}



.title{
  display: flex;
  align-self: center;
  justify-self: center;
}

.album-container{
  display: flex;
  width: 185vh;
  align-self: center;
  justify-content: space-evenly;
}

.album{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  border: 2px solid white;
  padding: 20px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px white solid;
  padding-bottom: 30px;
}

.banner-members{
  height: 230px;
  width: 545px;
}

.members-img{
  width: 250px;
  height: 320px;
}

.icons-img{
  width: 30px;
  height: 30px;
}
