@import url('https://fonts.cdnfonts.com/css/led-zeppelin-ii');

*{
  margin: 0;
  padding: 0;
  font-family: 'Zeppelin 2', sans-serif;
  color: white;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image:linear-gradient(0deg, black, #433e3e) ;
  height: 110px;
  padding: 10px;
}

body{
  background-color: black;
  height: 100vh;
  
}

.body-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
}

.left-banner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180vh;
  border-bottom: 2px solid white;
  padding: 20px;
}


.banner-txt{
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: center;
}

.history-txt{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.txt{
  display: flex;
  flex-direction: row;
}

.left-txt{
  border-left: 2px solid white;
  width: 40vh;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

}


.right-txt{
  border-left: 2px solid white;
  width: 40vh;
  padding-left: 15px;
  padding-right: 15px;
}

p{
  font-size: 15px;
  text-align: justify;  
}

.box-left{
  display: flex;
  flex-direction: column;
  width: 100vh;
  border-right: solid 2px white;
}


.box-right{
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.box-one{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 2px white;
  padding: 10px;
}

.box-two{
  padding: 10px;
}

.box-two-legacy{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

span{
  width: 40vh;
}

.member-title{
  display: flex;
  align-self: center;
}